################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VGC/.vs/VGC/FileContentIndex/08092362-0130-46a8-9a86-d5c8effe4b77.vsidx
/VGC/.vs/VGC/FileContentIndex/0bc787ee-4af6-4303-92cc-199db0acbe6c.vsidx
/VGC/.vs/VGC/FileContentIndex/f7644e31-0387-4c7c-b21a-bbbb236832ee.vsidx
/VGC/.vs/VGC/FileContentIndex/aa0b6e05-a5ba-4fa6-8a18-56fe0fda73c3.vsidx
